<div id="edit-store-container">
  <%= render "form" %>
  <% if flash[:notice] %>
  <br />
    <div class="small-font green-success-font">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="small-font red-fail-font">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <br />
  <h2><%= @store.name %>'s aisles</h2>

  <%= render "stores/aisle_form" %>

  <% if @zones.any? %>
    <ul>
      <% @zones.each do |zone| %>
        <li class="taller-line-item medium-font"><%= zone.aisle %>
          <%= link_to "edit", edit_store_zone_path(:store_id => zone.store_id, :id => zone.id), class: "small-font" %> |
          <%= link_to "delete", store_zone_path(:store_id => zone.store_id, :id => zone.id), method: :delete, class: "small-font" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "delete store", store_path, method: :delete %>
</div>
