<div id="edit-store-container">
  <%= render "form" %>

  <br />
  <br />

  <%= form_with model: @zone, url: [@store, @zone] do |f| %>
    <%= f.hidden_field :store_id, :value => @store.id %>
    <%= f.label "Add new aisle" %>
    <%= f.text_field :aisle %>
    <%= f.submit "Save" %>
  <% end %>

  <% if @zones.any? %>
    <ul>
      <% @zones.each do |zone| %>
        <li class="taller-line-item medium-font"><%= zone.aisle %> <%= link_to "delete", store_zone_path(zone.store_id, zone.id), method: :delete %></li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "delete", store_path, method: :delete %>
</div>
