<div class="add-section">
<%= form_for @item, url: { :action => "update_name"}  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Edit name" %>
  <%= f.text_field :name %>
  <%= f.submit "Save" %>
<% end %>
</div>

<% if flash[:notice] %>
  <div class="green-success-font small-font">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="red-fail-font small-font">
    <%= flash[:alert] %>
  </div>
<% end %>

<h3>Locations</h3>
<% if @location_details.any? %>
  <ul class="no-bullet-list list no-list-indent">
  <% @location_details.each do |location| %>
    <li><span class="small-font"><%= location[:store] %></span>
        <span class="medium-font"><%= location[:aisle] %></span>
        <% if !location[:aisle].blank? %>
          <span class="small-font"> aisle&nbsp;</span>
        <% end %>
        <%= link_to image_tag("delete-trash-wine.svg", :alt => "delete icon", :height => 20), locations_path(location), method: :delete, class: "small-font" %></li>
  <% end %>
  </ul>
<% else %>
<span class="mocha-font small-font">No locations for <%= @item.name %></span>
<% end %>

<h3>Add location</h3>

<%= form_for @item, url: { :action => "update_location", method: :put }, :html => {:id => "store-drop-down"}  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Store" %>
  <%= select("location", "store_id", Store.all.collect {|s| [ s.name, s.id, {'store_name' => s.name } ] }, :include_blank => true) %>
  <br />

<div class="" id="zone-drop-down">

</div>
<% end %>

<br />
<div class="margin-top">
  <%= link_to "Edit your stores and aisles", stores_path, class: "small-font btn" %>
</div>
<br />
<br />
<%= link_to image_tag("delete-trash-wine.svg", :alt => "delete item icon", :height => 30), item_path(@item.id), method: :delete %>
