<br />
<br />
<%= form_for @item, url: { :action => "update_name"}  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Edit name" %>
  <%= f.text_field :name %>
  <br />
  <%= f.submit "Save" %>
<% end %>
<br />

<h3>Current locations</h3>
<% if @location_details.any? %>
  <ul>
  <% @location_details.each do |location| %>
    <li>at <%= location[:store] %>  in
    <%= location[:aisle] %> aisle  <%= link_to "delete", locations_path(location), method: :delete %></li>
  <% end %>
  </ul>
<% end %>

<h3>Add new location</h3>

<%= form_for @item, url: { :action => "update_location", method: :put }  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Store" %>
  <%= select("location", "store_id", Store.all.collect {|s| [ s.name, s.id, {'store_name' => s.name } ] }, {}) %>
  <br />

  <%= f.label "Aisle" %>
  <%= select("location", "zone_id", Zone.all.collect {|z| [ z.aisle, z.id, { 'aisle_name' => z.aisle } ] }, {}) %>

  <br />
  <%= f.submit "Save" %>
<% end %>
<%= link_to "Edit stores or aisles", stores_path %>
