<br />
<%= form_for @item, url: { :action => "update_name"}  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Edit name" %>
  <%= f.text_field :name %>
  <%= f.submit "Save name" %>
<% end %>

<% if flash[:notice] %>
  <div class="green-success-font small-font">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="red-fail-font small-font">
    <%= flash[:alert] %>
  </div>
<% end %>

<h3>Locations</h3>
<% if @location_details.any? %>
  <ul>
  <% @location_details.each do |location| %>
    <li><%= location[:store] %>:
    <%= location[:aisle] %> aisle <%= link_to "remove location", locations_path(location), method: :delete, class: "small-font" %></li>
  <% end %>
  </ul>
<% end %>

<h3>Add new location</h3>

<%= form_for @item, url: { :action => "update_location", method: :put }  do |f| %>
  <%= f.hidden_field :id, :value => @item.id %>
  <%= f.label "Store" %>
  <%= select("location", "store_id", Store.all.collect {|s| [ s.name, s.id, {'store_name' => s.name } ] }, {}) %>
  <br />

  <%= f.label "Aisle" %>
  <%= select("location", "zone_id", Zone.all.collect {|z| [ z.aisle, z.id, { 'aisle_name' => z.aisle } ] }, {}) %>

  <%= f.submit "Save location" %>
<% end %>
<br />

<%= link_to "edit/add stores and aisles", stores_path, class: "small-font" %>
