<h1>all the items</h1>
<h2>new item</h2>
<%= render 'form' %>

<h1>Show all items</h1>

<div>
  <% if @items.any? %>
    <%= form_tag(update_to_get_path, method: :put) do |item_check| %>
      <ul class="no-bullet-list">
        <% for item in @items %>
          <li>
            <%= check_box_tag("check_box-#{item.id}", "", item.to_get ? true : false )  %>
            <%= label_tag "check_box-#{item.id}", item.name, class: '' %>
            <%= link_to "edit", edit_item_path(item.id) %> <br />
          </li>
        <% end %>
      </ul>
      <%= submit_tag "Save" %>
    <% end %>
  <% end %>
</div>
onchange: ‘this.form.submit();’
