<h1>all the items</h1>
<h2>new item</h2>
<%= form_for @item  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.label "Store" %>
  <%= select("location", "store_id", Store.all.collect {|s| [ s.name, s.id, {'store_name' => s.name } ] }, { include_blank: true }) %>
  <br />

  <%= f.label "Zone" %>
  <%= select("location", "zone_id", Zone.all.collect {|z| [ z.aisle, z.id, { 'aisle_name' => z.aisle } ] }, { include_blank: true }) %>

  <%= f.submit "Save" %>
<% end %>

<h1>Show all items</h1>
<% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
      <li><%= item.name %>  <%= link_to "edit", edit_item_path %> <br />
        <% if item.locations.any? %>
          <% item.locations.each do |location| %>
            store: <%= location.store_id %> and aisle:
            <%= location.zone_id %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<br />
<br />
<br />
<br />
item_path(item.id)
f.hidden_field :user_id, :value => "1"
