<br />
<div class="add-section">
  <h3 class="margin-top-none">Item</h3>
  <%= render 'form' %>
</div>
<h3 class="margin-bottom-1">Check what you need</h3>
<div>
  <% if @items.any? %>
    <%= form_with url: update_to_get_path, method: :put do |item_check| %>
      <ul id="to-get-list" class="no-bullet-list list no-list-indent">
        <% for item in @items %>
          <li id="item-<%= item.id %>">
            <%= check_box_tag dom_id(item, :checkbox), "", item.to_get ? true : false, data: {url: update_to_get_path(item), method: :put, remote: true }  %>
            <%= label_tag "check_box-#{item.id}", item.name, class: '' %>

            <%= render 'stores/name', item: item %>

            <%= link_to image_tag("edit-wine.svg", :alt => 'edit icon', :height => 20), edit_item_path(item.id) %>
          </li>

        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
