<!DOCTYPE html>
<html>
  <head>
    <title>Grocery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <nav>
        <%= link_to "home", root_path %> | <%= link_to "items", items_path %> | <%= link_to "stores", stores_path %>
      </nav>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
